<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Criar Novo Usuário</title>
</head>
<body>
	<div align="center">
		<h1>Criar Novo Usuário</h1>
		<br/>
		<form action="#" th:action="@{/saveCliente}" th:object="${cliente}" method="post">
			<table>
				<tr>
					<td>Nome do Cliente:</td>
					<td><input type="text" th:field="*{nome}" /></td>
				</tr>
				<tr>
					<td>Gênero:</td>
					<td><input type="radio" th:field="*{genero}" value="Masculino"/>Masculino</td>
					<td><input type="radio" th:field="*{genero}" value="Feminino"/>Feminino</td>
					<td><input type="radio" th:field="*{genero}" value="Não Informar"/>Não Informar</td>
				</tr>
				<tr>
					<td>RG:</td>
					<td><input type="text" th:field="*{rg}" /></td>
				</tr>
				<tr>
					<td>Endereço:</td>
					<td><input type="text" th:field="*{endereco}" /></td>
				</tr>
				<tr>
					<td>CEP:</td>
					<td><input type="text" th:field="*{cep}" /></td>
				</tr>
				<tr>
					<td>E-Mail:</td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
</body>
</html>