<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatable" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial- scale=1.0">
	<meta codigoSemana3="2014991124">
	<link rel="icon" type="image/x-icon" href="coffee.ico"/>
	<link href="/css/style.css" rel="stylesheet"/>
    <title>Adicionar Pessoas</title>
</head>
<body>
    <nav>
		<ul id="lista_menu">
			<li><a href="/">Início</a></li>
			<hr>
			<li><a href="public/noticias.html" target="_self">Canais de Noticias</a></li>
			<hr>
			<li><a href="/adicionarPessoa" class="active" target="_self">Adicionar Pessoas</a></li>
			<li><a href="/listarPessoas" target="_self">Listar Pessoas</a></li>
			<hr>
			<li><a href="public/sobre.html" target="_self">Sobre o Site</a></li>
			<li><a href="public/contato.html" target="_self">Mande-me um e-Mail</a></li>
		</ul>
	</nav>
    <div id="div3">
        <h1>Formulário para Cadastro de Pessoas:</h1>
        <form 
        	method="POST" 
        	th:object="${pessoa}" 
        	th:action="@{/adicionarPessoa}">
        	<p>
        		Nome Completo *: 
        		<input type="text" name="nomeCompleto" placeholder="Digite seu nome" th:field="*{nomeCompleto}" required/>
        	</p>
        	<p>
        		Data de Nascimento *: 
        		<input name="dataNascimento" type="date" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}" required/>
        	</p>
        	<p>
        		e-Mail *: 
        		<input name="eMail" type="email" placeholder="nome@dominio.com" th:field="*{email}" required/>
        	</p>
        	<p>Sexo *:</p>
        	<p>
        		<input type="radio" name="genero" value="Masculino" required/>Masculino
        	</p>
        	<p>
        		<input type="radio" name="genero" value="Feminino" required/>Feminino
        	</p>
        	<p>
        		<input type="radio" name="genero" value="Feminino" required/>Não informar
        	</p>	
        	
        	<input type="reset" class="button button12Px" value="Limpar" style="background-color: #00008B">
        	<input type="submit" class="button button12Px" value="Adicionar" style="background-color: #00008B">
        </form>
        <h6>* Campo obrigatório.</h6>
    </div>
</body>
</html>