<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatable" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial- scale=1.0">
	<meta codigoSemana3="2014991124">
	<link rel="icon" type="image/x-icon" href="coffee.ico">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>Início - Com Spring</title>
</head>
<body>
	<nav>
		<ul id="lista_menu">
			<li><a href="/" class="active">Início</a></li>
			<hr>
			<li><a href="/public/noticias.html" target="_self">Canais de Noticias</a></li>
			<hr>
			<li><a href="/adicionarPessoa" target="_self">Adicionar Pessoas</a></li>
			<li><a href="/listarPessoas" target="_self">Listar Pessoas</a></li>
			<hr>
			<li><a href="/public/sobre.html" target="_self">Sobre o Site</a></li>
			<li><a href="/public/contato.html" target="_self">Mande-me um e-Mail</a></li>
		</ul>
	</nav>
	<!--<iframe name="iframe1" src="pages/inicio.html"></iframe>-->
	<div class="div" id="div1">
		<h1>Hidrate-se!</h1>
		<img src="/images/bebendo_água.jpg" id="imagem" alt="Água faz bem" title="Água Gelada!" height="500px">
	</div>
	<div class="div" id="div2">
		<h3>Evite desperdiçar água</h3>
		<h4 style="text-align: justify; font-weight: lighter">A água faz muito bem a saúde! Precisamos tomar no mínimo 2 litros desse líquido por dia. Em alguns países, a escassez é grande e processos de dessalinização precisam ser utilizados para sua aquisição.</h4>
	</div>
</body>
</html>